{% extends "@HomeConstructBuild/Default/layout.html.twig" %}
{% block title %}
    {{ titreOnglet }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp'
        'bundles/homeconstructfo/css/affichage_liste.css'
        'bundles/homeconstructfo/css/administration.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block content %}
        <div class="block_button_back">
            <a id="button_back"
               class="btn btn-xl u-btn-lightblue-v3 g-width-160--md g-font-size-default g-ml-10"
               href="{{path('home_construct_administration_profile')}}" data-speed="350">
                <div id="icone_plus_add" class="fas fa-reply"></div>
                Retour
            </a>
        </div>
    {% set index = 1 %}
    <div class="row g-mb-35">
    {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_couverture_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type de couverture de toiture
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_assainissement_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type d'assainissement
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_cloison_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type de cloison
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_evacuation_terrassement_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type d'évacuation (terrassement)
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_materiaux_menuiserie_exterieure_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Matériau de menuiserie extérieure
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_menuiserie_exterieure_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type de menuiserie extérieure
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_appuisFenetre_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Matériau d'appui de fenêtre
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_ferraillage_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type de ferraillage
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_charpente_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type de charpente
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_materiel_excavation_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Matériel excavation
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_taille_arbre_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Taille des arbres
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_arbre_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type des arbres
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_fondation_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type de fondation
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_formeCharpente_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                       Forme de charpente
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_isolationMur_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type d'isolation des murs
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_isolationPiece_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type d'isolation des pièces
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_isolationPlafond_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type d'isolation des plafonds
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_isolationPlancher_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type d'isolation des planchers
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_isolationVitre_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type d'isolation des vitres
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_materiauxMur_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Matériaux des murs
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_materiauxPoutre_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Matériaux des poutres
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_plancher_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type de plancher
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_reseau_gaz_naturel_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Fournisseur de gaz naturel
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_sol_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Types de sol
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_soubassement_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Types de soubassement
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_type_terrassement_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Types de terrassement
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
        {% set index = index+1 %}
        <div class="block_element col-sm-6 col-lg-6 col-xl-3 g-mb-30" onmouseover="select('element{{ index }}')" onmouseout="deselection('element{{ index }}')">
            <!-- Panel -->
            <div id="element{{index}}" class=" block_choix card h-100 g-brd-gray-light-v7 g-rounded-3">
                <a href="{{ path('home_construct_travaux_list') }}">
                    <div class="card-block g-font-weight-300 g-pa-20">
                        <div>
                            <div class="d-flex g-mr-15">
                                <div class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-green g-font-size-18 g-font-size-24--md g-color-white rounded-circle">
                                    <i class="hs-admin-settings g-absolute-centered"></i>
                                </div>
                            </div>

                            <div class="media-body align-self-center">
                                <div class="d-flex align-items-center g-mb-5">
                                    <span class="g-font-size-24 g-line-height-1 g-color-black">
                                        Type de travaux (terrassement)
                                    </span>
                                    <span class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- End Panel -->
        </div>
{% endblock content %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function select(id){
            document.getElementById(id).style.backgroundColor = "orange";
        }
        function deselection(id){
            document.getElementById(id).style.backgroundColor = "white";
        }
    </script>
{% endblock javascripts%}