{% extends "@HomeConstructBuild/Default/layout.html.twig" %}

{% block stylesheets %}
    {{ parent()}}
    {% stylesheets filter='cssrewrite, ?scssphp'
        'bundles/homeconstructfo/css/formulaires_creation.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <a id="button_back"
       class=" btn btn-xl u-btn-lightblue-v3 g-width-160--md g-font-size-default g-ml-10"
       href="{{ path('home_construct_projet_profile',{'id':projet.id}) }}" data-speed="350">
        <div  class="fas fa-reply"></div>
        Retour
    </a>
    {{ form_start(form) }}

    <div class="col-lg-9 g-mb-50">
        <!-- Info -->
        <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

            <div class="row">
                <div class="col-12">
                    <span class="d-block">
                        {{ form_row(form.informationBase) }}
                    </span>
                </div>
            </div>

            <div class="block_button_backnext">

                <button id="button_next"
                        class=" btn btn-xl u-btn-lightblue-v3 g-width-160--md g-font-size-default g-ml-10"
                        href="{{ path('home_construct_projet_creation') }}" data-speed="350">
                    Suivant
                    <div  class="fas fa-share"></div>
                </button>
            </div>

        </div>
        <!-- End Info -->
    </div>
    {{ form_end(form) }}

{% endblock content %}

