{% extends "@HomeConstructFo/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Changement mot de passe{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp'
        'bundles/homeconstructfo/css/user_confirmation.css'
        'bundles/homeconstructfo/css/change_passwd.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

{% endblock stylesheets %}

{% block content %}
    {{ form_start(form, { 'action': path('oit_premiere_connexion_mdp',{'user':user}) }) }}
    <div class="col-lg-9 g-mb-50">
        <!-- Info -->
        <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">
            <div class="row">
                <div class="col-12">
                    <span class="d-block">
                        {{ form_row(form.current_password,{'attr':{'readonly':'readonly','value':user.password,'type':'password'}} ) }}
                    </span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <span class="d-block">
                        {{ form_row(form.plainPassword) }}
                    </span>
                </div>
            </div>

            <div>
                <input type="submit" value="Modifier le mot de passe" />
            </div>
        </div>
    </div>


    {{ form_end(form) }}

{% endblock content %}