{% extends "@HomeConstructBuild/GrosOeuvre/base-forms-profiles-grosOeuvre.html.twig" %}

{% block content %}
    {% block button_return %}
        {{ parent() }}
    {% endblock button_return %}

    {% block sub_content %}
        <div class="block_profile_with_estimation">
                <div class="col-lg-9 g-mb-50">
                    <!-- Info -->
                    <div class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30">

                        <div class="row">
                            <div class="col-12">
                                <span class="d-block">Type :
                                    <b>
                                        {% if fondation.type is defined and fondation.type is not null %}
                                            {{ fondation.type.nom }}
                                        {% else %}
                                            Non renseigné
                                        {% endif %}
                                    </b>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span class="d-block">Prix de la main d'oeuvre :
                                <b>
                                        {% if fondation.prixMainDoeuvre is defined and fondation.prixMainDoeuvre is not null %}
                                            {{ fondation.prixMainDoeuvre |number_format(2, ',', ' ') }} €
                                        {% else %}
                                            Non renseigné
                                        {% endif %}
                                    </b>
                                </span>
                            </div>
                        </div>
                        <h4>Ferraillage</h4>
                        <I>Modifiable seulement par un professionnel</I>
                        <div class="row">
                            <div class="col-12">
                                <span class="d-block">Type de ferraillage :
                                <b>
                                        {% if fondation.ferraillage.type.nom is defined and fondation.ferraillage.type.nom is not null %}
                                            {{ fondation.ferraillage.type.nom }}
                                        {% else %}
                                            Non renseigné
                                        {% endif %}
                                    </b>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span class="d-block">Quantité de ferraillage :
                                <b>
                                        {% if fondation.ferraillage.quantite is defined and fondation.ferraillage.quantite is not null %}
                                            {{ fondation.ferraillage.quantite }}m²
                                            </br>
                                            <I>(La quantité est par défaut égale à la surface totale de maison)</I>
                                        {% else %}
                                            Non renseigné
                                        {% endif %}
                                    </b>
                                </span>
                            </div>
                        </div>
                        <div class="text-center">
                            <a id="button_next"
                                    class=" btn btn-xl u-btn-lightblue-v3 g-width-160--md g-font-size-default g-ml-10"
                                    href="{{ path('home_construct_fondation_edit',{'idFondation':fondation.id}) }}" data-speed="350">
                                Modifier
                                <div  class="fas fa-pencil"></div>
                            </a>
                        </div>
                    </div>
                    <!-- End Info -->
                </div>
                    <div class="block_estimation_prix">
                        <h4 class="titre_estimation text-center">
                            Estimation
                        </h4>
                        <h6> <I> Données utilisées : </I></h6>
                        <ul class="liste_variables_estimation">
                            <h5 class="titre_sous_entite">
                                <a class="link_sous_entite" href="{{ path('home_construct_information_base_profile',{'id':fondation.grosOeuvre.informationBase.id}) }}">
                                    Informations de base :
                                </a>
                            </h5>
                            <li>
                                <i class="fas fa-check-circle variable-presente"></i>
                                Surface totale de la maison : <b>{{ fondation.grosOeuvre.informationBase.surfaceTotale|number_format(2, ',', ' ') }}m²</b>
                            </li>
                            <h5 class="titre_sous_entite">
                                <a class="link_sous_entite" href="{% if fondation.grosOeuvre.etudeSol is defined and fondation.grosOeuvre.etudeSol is not null %}
                                        {{ path('home_construct_etude_sol_profile',{'id':fondation.grosOeuvre.etudeSol.id}) }}
                                    {% else %}
                                        {{ path('home_construct_etude_sol_creation',{'idGrosOeuvre':fondation.grosOeuvre.id}) }}
                                    {% endif %}
                                    ">
                                    Informations sur l'etude du sol :
                                </a>
                            </h5>
                                <li>
                                    {% if fondation.grosOeuvre.etudeSol is defined and fondation.grosOeuvre.etudeSol is not null %}
                                        <i class="fas fa-check-circle variable-presente"></i>
                                        Type de sol : <b>{{ fondation.grosOeuvre.etudeSol.type.nom }}</b>
                                    {% else %}
                                        <i class="fas fa-times variable-non-presente"></i>
                                        Type de sol : <b><I> Non renseigné </I></b>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if fondation.grosOeuvre.etudeSol is defined and fondation.grosOeuvre.etudeSol is not null %}
                                        <i class="fas fa-check-circle variable-presente"></i>
                                        Profondeur du sol choisie : <b>{{ fondation.grosOeuvre.etudeSol.profondeurChoisie |number_format(2, ',', ' ') }} m</b>
                                    {% else %}
                                        <i class="fas fa-times variable-non-presente"></i>
                                        Profondeur du sol : <b><I> Non renseigné </I></b>
                                    {% endif %}
                                </li>
                            <h5 class="titre_sous_entite">
                                <a class="link_sous_entite" href="{% if fondation.grosOeuvre.soubassement is defined and fondation.grosOeuvre.soubassement is not null %}
                                        {{ path('home_construct_soubassement_profile',{'id':fondation.grosOeuvre.soubassement.id}) }}
                                    {% else %}
                                        {{ path('home_construct_soubassement_creation',{'idGrosOeuvre':fondation.grosOeuvre.id}) }}
                                    {% endif %}
                                    ">
                                    Informations sur le soubassement :
                                </a>
                            </h5>
                            <li>
                                {% if fondation.grosOeuvre.soubassement is defined and fondation.grosOeuvre.soubassement is not null %}
                                    <i class="fas fa-check-circle variable-presente"></i>
                                    Type de soubassement : <b>{{ fondation.grosOeuvre.soubassement.type.nom }}</b>
                                {% else %}
                                    <i class="fas fa-times variable-non-presente"></i>
                                    Type de soubassement : <b><I>Non renseigné</I></b>
                                {% endif %}
                            </li>
                            <h5 class="titre_sous_entite">
                                    Résultat :
                            </h5>
                            <li>
                                <i class="fas fa-check-circle variable-presente"></i>
                                Tarif ferraillage :
                                <b>
                                    {% if fondation.tarifFerraillage is not null %}
                                        {{ fondation.tarifFerraillage |number_format(2, ',', ' ') }} €
                                    {% else %}
                                        <I>Non calculable pour le moment</I>
                                    {% endif %}
                                </b>
                            </li>
                            <li>
                                {% if fondation.grosOeuvre.etudeSol is defined and fondation.grosOeuvre.etudeSol is not null %}
                                    <i class="fas fa-check-circle variable-presente"></i>
                                {% else %}
                                    <i class="fas fa-times variable-non-presente"></i>
                                {% endif %}
                                Tarif beton :
                                <b>
                                    {% if fondation.tarifBeton is not null %}
                                        {{ fondation.tarifBeton |number_format(2, ',', ' ') }} €
                                    {% else %}
                                        <I>Non calculable pour le moment</I>
                                    {% endif %}
                                </b>
                            </li>
                            <li>
                                {% if fondation.grosOeuvre.etudeSol is defined and fondation.grosOeuvre.etudeSol is not null %}
                                    <i class="fas fa-check-circle variable-presente"></i>
                                {% else %}
                                    <i class="fas fa-times variable-non-presente"></i>
                                {% endif %}
                                Tarif sol :
                                <b>
                                    {% if fondation.tarifSol is not null %}
                                        {{ fondation.tarifSol |number_format(2, ',', ' ') }} €
                                    {% else %}
                                        <I>Non calculable pour le moment</I>
                                    {% endif %}
                                </b>
                            </li>
                            <li>
                                <i class="fas fa-check-circle variable-presente"></i>
                                Prix total main d'oeuvre :
                                <b>
                                    {{ fondation.prixTotalMainDoeuvre |number_format(2, ',', ' ') }} €
                                </b>
                            </li>
                        </ul>
                        {% if fondation.prix is defined and fondation.prix is not null %}
                            <div class="block_affichage_prix text-center font-weight-bold g-font-size-30 border-dark border">
                                {{ fondation.prix |number_format(2, ',', ' ') }} €
                            </div>
                        {% else %}
                            <I>
                                Pour pouvoir estimer un prix total veuillez ajouter les entités manquantes (marquées d'une croix rouge)
                            </I>
                        {% endif %}
                    </div>
        </div>
    {% endblock sub_content %}

{% endblock content %}

