{% extends "@HomeConstructBuild/GrosOeuvre/base-forms-profiles-grosOeuvre.html.twig" %}

{% block content %}
    {% block button_return %}
        {% if refererIsAForm == true and grosOeuvre.plancher is defined and grosOeuvre.plancher is not null %}
            {% set retour = path('home_construct_plancher_list',{'idGrosOeuvre':grosOeuvre.id}) %}
        {% else %}
            {% set retour = app.request.server.get('HTTP_REFERER') %}
        {% endif %}
        <div class="block_button_back">
            <a id="button_back"
               class=" btn btn-xl u-btn-lightblue-v3 g-width-160--md g-font-size-default g-ml-10"
               href="{{ retour }}" data-speed="350">
                <div  class="fas fa-reply"></div>
                Retour
            </a>
        </div>
    {% endblock button_return %}

    {% block sub_content %}
        <div id="block_form_table">
            {{ form_start(form,{'attr':{'id':'form_plancher'}}) }}
            <div class="col-lg-12 g-mb-50">
                <!-- Info -->
                <div style="display: flex !important;" class="g-brd-around g-brd-gray-light-v4 rounded g-pa-30 g-mb-30 ">
                    {{ form_row(form.type) }}

                    {{ form_row(form.longueurPoutrelle) }}
                    {{ form_row(form.longueurEntrevous) }}
                    {{ form_row(form.nbM2) }}

                    <div class="row" id="block_bouton_enregistrer">
                        <div class="col-12">

                            <span class="d-block">{{ form_row(form.save) }}</span>
                        </div>
                    </div>

                </div>
                <!-- End Info -->
            </div>
            {{ form_end(form) }}
            <div id="table_form_plancher">
                {{ include('@HomeConstructBuild/Plancher/complex-table-plancher.html.twig') }}
            </div>
        </div>
        <div class="block_button_backnext" class="media-body align-self-center">
            <a id="button_back"
               class=" btn btn-xl u-btn-lightblue-v3 g-width-160--md g-font-size-default g-ml-10"
               href="{{ path('home_construct_plancher_list',{'idGrosOeuvre':grosOeuvre.id}) }}" data-speed="350">
                <div  class="fas fa-reply"></div>
                Terminer
            </a>
        </div>

    {% endblock sub_content %}
{% endblock content %}

{% block javascripts %}
    {{ parent()}}
    <script>
        function showGrey(id) {
            var item = 'champSelect' + id;
            document.getElementById(item).style.backgroundColor = "rgba(142, 142, 142, 0.4)";
        }

        function hideGrey(id) {
            var item = 'champSelect' + id;
            document.getElementById(item).style.backgroundColor = "white";
            var item ='block_description_tache' + id;
            document.getElementById(item).style.display = "none";
        }
    </script>


{% endblock javascripts %}
